@import "../libs/fontawesome/css/font-awesome.min.css";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #454545;
  margin: 0;
  padding: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

h1 {
  font-size: 56px;
}

.hidden {
  display: none;
}

.btn {
  display: block;
  border-radius: 4px;
  padding: 15px 25px;
  background-color: #DFA231;
  color: #fff;
  font-weight: bold;
  transition: all 0.25s ease;
  text-align: center;
}
.btn:hover {
  background-color: #B17427;
  text-decoration: none;
  color: #fff;
}

a {
  color: #454545;
  text-decoration: none;
}

.title {
  text-transform: uppercase;
  color: #1A1042;
  display: inline-block;
  padding-bottom: 25px;
  font-size: 50px;
  line-height: 1.2em;
}
.title.line::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
}

header {
  padding: 25px 0;
  background-color: #fff;
}
header .logo img {
  width: 100%;
}
header nav ul {
  display: flex;
  align-items: stretch;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  padding: 15px;
}

section {
  padding: 50px 0;
  background-color: #fff;
}

#video-slider {
  padding: 0;
}
#video-slider #background-video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#main {
  color: #1A1042;
}
#main .title {
  margin-top: 0;
}
#main .blocks {
  display: flex;
  flex-direction: column;
}
#main .blocks .block {
  margin-bottom: 15px;
}
#main .blocks .block .bl {
  font-weight: bold;
  width: 30%;
  display: inline-block;
}
#main .blocks .block .bl.long {
  width: 100%;
}
#main .blocks .block .br {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
#main .timer {
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
  height: 150px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  margin-top: 25px;
  position: relative;
}
#main .timer::after, #main .timer::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  margin-top: -25px;
}
#main .timer::before {
  left: -20px;
}
#main .timer::after {
  right: -20px;
}
#main .timer .bt {
  color: #fff;
  font-size: 72px;
  flex: 1;
  text-align: center;
  position: relative;
}
#main .timer .bt::after {
  content: "";
  position: absolute;
  height: 50%;
  top: 25%;
  right: 0;
  width: 1px;
  background-color: #fff;
}
#main .timer .bt:last-child::after {
  content: none;
}
#main .timer .bt span {
  font-size: 12px;
  display: block;
  margin-top: -25px;
}

#speakers {
  text-align: center;
}
#speakers .country {
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  width: 40px;
  padding-left: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 0;
}
#speakers .country.turkey {
  background-position: 0 0;
}
#speakers .country.ukraine {
  background-position: 0 -40px;
}
#speakers .country.morocco {
  background-position: 0 -85px;
}
#speakers .country.qazaqstan {
  background-position: 0 -120px;
}
#speakers .country.australia {
  background-position: 0 -210px;
}
#speakers .country.singapore {
  background-position: 0 -330px;
}
#speakers .country.italy {
  background-position: 0 -165px;
}
#speakers .country.russia {
  background-position: 0 -250px;
}
#speakers .blocks {
  display: flex;
  flex-wrap: wrap;
}
#speakers .blocks .block {
  width: 30%;
  text-align: left;
  padding: 15px;
  position: relative;
}
#speakers .blocks .block .img {
  text-align: center;
  border-radius: 24px;
  background: linear-gradient(289.9deg, #DBD6EF -5.47%, rgba(241, 241, 241, 0) 112.91%);
  overflow: hidden;
  position: relative;
}
#speakers .blocks .block .img img {
  height: 100%;
}
#speakers .blocks .block .name {
  font-size: 30px;
  font-weight: bold;
  color: #1A1042;
  margin-bottom: 0;
}
#speakers .blocks .block .category {
  color: #B17427;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 600;
}
#speakers .blocks .block .desc {
  font-size: 16px;
}

#about {
  background: #DFE6F5 url("../img/about_bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
}
#about::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(90.5deg, #DFE6F5 5%, rgba(223, 230, 245, 0) 65.59%);
}
#about .title {
  margin-bottom: 0;
  padding-bottom: 0;
}
#about .btn {
  display: inline-block;
  margin-top: 25px;
}

#partners {
  text-align: center;
}
#partners .partners-items a {
  padding: 15px;
  display: block;
}
#partners .partners-items img {
  width: auto;
}

#info {
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
  color: #fff;
}
#info .block {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#advantages {
  text-align: center;
  margin-bottom: 400px;
}
#advantages .title {
  width: 520px;
}
#advantages .advantages-items {
  display: flex;
  flex-wrap: wrap;
}
#advantages .item {
  width: 29%;
  text-align: center;
  padding: 15px;
  background-color: #F0F0F0;
  margin: 15px 5px 70px;
  border-radius: 15px;
  position: relative;
}
#advantages .item .icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}
#advantages .item .icon img {
  display: inline-block;
  padding-top: 10px;
}

#sections {
  background-image: url("../img/bg_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -99;
}

#lasttime {
  text-align: center;
}
#lasttime .gallery-items {
  text-align: left;
}
#lasttime .gallery-items .images {
  overflow: hidden;
  display: inline-block;
  padding: 5px;
}
#lasttime .gallery-items .images img {
  width: 100%;
}

#form {
  color: #fff;
}
#form .form-wrap {
  background: linear-gradient(284.99deg, #FF9400 -27.15%, #1B1143 103.5%);
  border-radius: 25px;
  padding: 35px;
  position: relative;
  overflow: hidden;
}
#form .form-wrap h3 {
  margin-top: 0;
}
#form .form-wrap form {
  background: #fff;
  width: 450px;
  color: #454545;
  padding: 30px 50px;
  border-radius: 10px;
}
#form .form-wrap form input[type=text], #form .form-wrap form select {
  border: 1px solid #DFE6F5;
  padding: 15px;
  border-radius: 15px;
  width: 90%;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
#form .form-wrap form select {
  width: 96%;
}
#form .form-wrap form input[type=button] {
  font-family: "Montserrat", sans-serif;
}
#form .form-wrap .line {
  margin-bottom: 15px;
}
#form .form-wrap .line p {
  margin-bottom: 0;
}
#form .btn {
  border: none;
}
#form .logo {
  position: absolute;
  right: 35px;
  top: 35px;
}
#form .girl {
  position: absolute;
  bottom: -15px;
  right: -55px;
  width: 40%;
}
#form .girl img {
  width: 90%;
}
#form .girl-2 {
  right: 10%;
}

footer {
  background-color: #1A1042;
  color: #fff;
  padding: 80px 0 40px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
footer::after {
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(177, 116, 39) 0%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  bottom: -15%;
  right: -5%;
  z-index: -1;
}
footer::before {
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(177, 116, 39) 0%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;
}
footer .logo {
  width: 200px;
}
footer .logo img {
  width: 100%;
}
footer .logo-2 {
  width: 80px;
  margin-top: 25px;
}
footer h4 {
  margin-top: 0;
}
footer p {
  margin: 0;
}
footer a {
  color: #fff;
}
footer .social ul {
  padding: 0;
  margin: 0;
}
footer .social ul li {
  list-style-type: none;
  display: inline-block;
}
footer .social ul li a {
  display: block;
  padding: 0 10px;
}
footer .copy {
  text-align: right;
  font-size: 14px;
}
footer .copy img {
  width: 20px;
  vertical-align: middle;
}/*# sourceMappingURL=main.css.map */