@import "../libs/fontawesome/css/font-awesome.min.css";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #454545;
  margin: 0;
  padding: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

h1 {
  font-size: 54px;
}

h4 {
  font-weight: 600;
}

.hidden {
  display: none;
}

.containe, .container-fluid {
  width: auto;
}

.btn {
  display: block;
  border-radius: 4px;
  padding: 5px 25px;
  background-color: #DFA231;
  color: #fff;
  transition: all 0.25s ease;
  text-align: center;
}
.btn:hover {
  background-color: #B17427;
  text-decoration: none;
  color: #fff;
}
.btn:link, .btn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
.btn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}
.btn::before {
  left: -50%;
}
.btn::after {
  left: -100%;
}
.btn:hover::before {
  left: 120%;
  opacity: 0.5s;
}
.btn:hover::after {
  left: 200%;
  opacity: 0.6;
}
.btn span {
  z-index: 20;
}

a {
  color: #454545;
  text-decoration: none;
}

.icon-arr {
  background-image: url("../img/icon-arr.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 19px;
  display: inline-block;
  margin: auto 0;
}

.title {
  text-transform: uppercase;
  color: #1A1042;
  display: inline-block;
  padding-bottom: 25px;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 600;
}
.title.line::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
}

header {
  padding: 5px 0;
  background-color: #fff;
}
header .logo img {
  width: 100%;
}
header nav ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin: 5px 0 0;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  padding: 15px;
}
header .mainMenu {
  padding: 15px;
  position: relative;
  display: none;
}
header .mainMenu a {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, -1px);
  background: #000;
}
#menuToggle input:checked ~ span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

section {
  padding: 40px 0;
  background-color: #fff;
}

#video-slider {
  overflow: hidden;
  padding: 0;
}
#video-slider #background-video {
  width: 100vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#main {
  color: #1A1042;
}
#main .title {
  margin-top: 0;
}
#main .blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .blocks.b2 {
  height: 100%;
}
#main .blocks .block {
  margin-bottom: 15px;
}
#main .blocks .block .bl {
  font-weight: bold;
  width: 30%;
  display: inline-block;
}
#main .blocks .block .bl.long {
  width: 100%;
}
#main .blocks .block .bl img {
  vertical-align: middle;
}
#main .blocks .block .br {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
#main .timer {
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
  height: 110px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  margin-top: 25px;
  position: relative;
}
#main .timer::after, #main .timer::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
}
#main .timer::before {
  left: -20px;
}
#main .timer::after {
  right: -20px;
}
#main .timer .bt {
  color: #fff;
  font-size: 60px;
  flex: 1;
  text-align: center;
  position: relative;
}
#main .timer .bt::after {
  content: "";
  position: absolute;
  height: 50%;
  top: 25%;
  right: 0;
  width: 1px;
  background-color: #fff;
}
#main .timer .bt:last-child::after {
  content: none;
}
#main .timer .bt span {
  font-size: 12px;
  display: block;
  margin-top: -25px;
}

#speakers {
  text-align: center;
}
#speakers .blocks {
  display: flex;
  flex-wrap: wrap;
}
#speakers .blocks .block {
  width: 33.3333333333%;
  text-align: left;
  padding: 15px;
  position: relative;
}
#speakers .blocks .block:hover .img img {
  transform: scale(1.1);
}
#speakers .blocks .block .img {
  text-align: center;
  border-radius: 24px;
  background: linear-gradient(289.9deg, #DBD6EF -5.47%, rgba(241, 241, 241, 0) 112.91%);
  overflow: hidden;
  position: relative;
}
#speakers .blocks .block .img img {
  height: 100%;
  margin-bottom: -10px;
  margin-top: 25px;
  transition: all 0.25s ease;
}
#speakers .blocks .block .name {
  font-size: 24px;
  font-weight: bold;
  color: #1A1042;
  margin-bottom: 0;
}
#speakers .blocks .block .category {
  color: #B17427;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 600;
}
#speakers .blocks .block .desc {
  font-size: 16px;
}

.country {
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  width: 40px;
  padding-left: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 0;
}
.country.turkey {
  background-position: 0 0;
}
.country.ukraine {
  background-position: 0 -40px;
}
.country.morocco {
  background-position: 0 -85px;
}
.country.qazaqstan {
  background-position: 0 -120px;
}
.country.australia {
  background-position: 0 -210px;
}
.country.singapore {
  background-position: 0 -330px;
}
.country.italy {
  background-position: 0 -165px;
}
.country.russia {
  background-position: 0 -250px;
}
.country.greece {
  background-position: 0 -370px;
}

#about {
  position: relative;
  background: #19085B;
  color: #fff;
  overflow: hidden;
}
#about::before {
  content: "";
  background: linear-gradient(274.15deg, rgba(255, 166, 0, 0) 2.41%, #AC6D21 50.48%, #19085B 99.56%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#about::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background: url("../img/about_bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
#about .title {
  margin: 0;
  padding-bottom: 0;
  color: #fff;
}
#about .content {
  position: relative;
  z-index: 3;
}
#about .btn {
  display: inline-block;
  margin-top: 25px;
}

#partners {
  text-align: center;
}
#partners .partners-items {
  position: relative;
}
#partners .partners-items a {
  padding: 15px;
  display: block;
}
#partners .partners-items img {
  width: 100%;
}
#partners .partners-items .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
#partners .partners-items .owl-nav .owl-prev {
  top: -20px;
  left: -50px;
  width: 40px;
  height: 40px;
  position: absolute;
  transform: rotate(180deg);
}
#partners .partners-items .owl-nav .owl-prev img {
  vertical-align: top;
}
#partners .partners-items .owl-nav .owl-next {
  top: -20px;
  right: -50px;
  width: 40px;
  height: 40px;
  position: absolute;
}
#partners .partners-items .owl-nav .owl-next img {
  vertical-align: top;
}

#info {
  background: linear-gradient(268.58deg, #1D0677 -13.7%, #FFA600 100%);
  color: #fff;
  position: relative;
}
#info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-rectangle.png");
  z-index: 0;
}
#info .container {
  z-index: 2;
  position: relative;
}
#info .block {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
#info .img {
  justify-content: center;
  height: 100%;
  align-items: center;
}
#info .img img {
  width: 100%;
}
#info .row {
  display: flex;
  height: 100%;
  vertical-align: middle;
}
#info [class^=col] {
  display: flex;
  vertical-align: middle;
}

#programm .tabs-wrap {
  margin-top: -120px;
}
#programm .tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: end;
}
#programm .tab {
  padding: 15px 55px;
  background-color: #DFE6F5;
  border-radius: 15em;
  text-align: center;
  margin-left: 15px;
}
#programm .tab.active {
  background: #DFA231;
  color: #fff;
}
#programm .btn-download {
  background: transparent;
  color: #fff;
  display: inline-block;
  background-color: #1A1042;
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}
#programm .btn-download img {
  vertical-align: middle;
}

.tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tabs .tab:hover {
  cursor: pointer;
}
.tabs .tab span {
  font-size: 14px;
  display: block;
}

.tab-content {
  margin-top: 25px;
}
.tab-content [data-tab-content], .tab-content [data-tab-content2] {
  display: none;
}
.tab-content .active[data-tab-content], .tab-content .active[data-tab-content2] {
  display: block;
}
.tab-content .list {
  background-color: #DFE6F5;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  margin-bottom: 10px;
}
.tab-content .list .lb {
  padding: 15px;
}
.tab-content .list .time {
  background-color: #fff;
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
.tab-content .list .type {
  background-color: #DFA231;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  padding: 0 15px;
  color: #fff;
}
.tab-content .list .topic {
  font-weight: 500;
}
.tab-content .list .img {
  background-color: #fff;
  border-radius: 15px;
}
.tab-content .list .img img {
  width: 100%;
}
.tab-content .list .name {
  font-weight: 600;
  font-size: 24px;
  position: relative;
}
.tab-content .list .country {
  display: inline-block;
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;
}
.tab-content .list .left {
  width: 20%;
}
.tab-content .list .center {
  width: 20%;
}
.tab-content .list .right {
  width: 50%;
  padding-left: 10%;
}
.tab-content .list.accent {
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0F59 100%);
  padding: 0 15px;
}
.tab-content .list.accent .left {
  display: flex;
  align-items: center;
  width: auto;
}
.tab-content .list.accent .center {
  display: none;
}
.tab-content .list.accent .right {
  padding-left: 2%;
  text-align: center;
  width: 70%;
}
.tab-content .list.accent .time {
  margin-bottom: 0;
}
.tab-content .list.accent .name {
  color: #fff;
}

#advantages {
  text-align: center;
}
#advantages .title {
  width: 520px;
}
#advantages .advantages-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#advantages .item {
  width: calc(33.3333333333% - 10px);
  text-align: center;
  padding: 15px;
  background-color: #F0F0F0;
  margin: 15px 5px 70px;
  border-radius: 15px;
  position: relative;
}
#advantages .item .icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
  background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}
#advantages .item .icon img {
  display: inline-block;
  padding-top: 10px;
}

#sections {
  background-image: url("../img/bg_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  height: 400px;
  width: 100%;
  top: 0;
  z-index: -99;
}

#lasttime {
  text-align: center;
}
#lasttime .gallery-items {
  text-align: left;
}
#lasttime .gallery-items .images {
  padding: 5px;
}
#lasttime .gallery-items .images img {
  width: 100%;
}

#form {
  color: #fff;
}
#form .tabs .tab {
  position: relative;
  padding: 0 10px 0 25px;
}
#form .tabs .tab::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 5px;
  border: 2px solid #454545;
  border-radius: 50%;
}
#form .tabs .tab.active::after {
  border-color: #DFA231;
}
#form .tabs .tab.active::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
  top: 9px;
  border-radius: 50%;
  background-color: #DFA231;
}
#form .form-wrap {
  background: linear-gradient(284.99deg, #FF9400 -27.15%, #1B1143 103.5%);
  border-radius: 25px;
  padding: 35px;
  position: relative;
  overflow: hidden;
}
#form .form-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-rectangle.png");
  z-index: 1;
}
#form .form-wrap h3 {
  margin-top: 0;
}
#form .form-wrap .form {
  background: #fff;
  width: 450px;
  color: #454545;
  padding: 30px 50px;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}
#form .form-wrap .form input[type=text],
#form .form-wrap .form input[type=email],
#form .form-wrap .form input[type=phone],
#form .form-wrap .form textarea,
#form .form-wrap .form select {
  border: 1px solid #DFE6F5;
  padding: 15px;
  border-radius: 5px;
  width: 90%;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
#form .form-wrap .form select {
  width: 96%;
}
#form .form-wrap .form input {
  font-family: "Montserrat", sans-serif;
}
#form .form-wrap .line {
  margin-bottom: 15px;
}
#form .form-wrap .line p {
  margin-bottom: 0;
}
#form .btn {
  border: none;
}
#form .logo {
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 2;
}
#form .girl {
  position: absolute;
  bottom: -15px;
  right: -55px;
  width: 40%;
  z-index: 2;
}
#form .girl img {
  width: 90%;
}
#form .girl-2 {
  right: 10%;
}

footer {
  background-color: #1A1042;
  color: #fff;
  padding: 80px 0 40px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
footer::after {
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(177, 116, 39) 0%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  bottom: -15%;
  right: -5%;
  z-index: -1;
}
footer::before {
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(177, 116, 39) 0%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;
}
footer .logo {
  width: 200px;
}
footer .logo img {
  width: 100%;
}
footer .logo-2 {
  width: 80px;
  margin-top: 25px;
}
footer h4 {
  margin-top: 0;
}
footer p {
  margin: 0;
}
footer a {
  color: #fff;
}
footer .social ul {
  padding: 0;
  margin: 0;
}
footer .social ul li {
  list-style-type: none;
  display: inline-block;
}
footer .social ul li a {
  display: block;
  padding: 0 10px;
}
footer .copy {
  text-align: right;
  font-size: 14px;
}
footer .copy img {
  width: 20px;
  vertical-align: middle;
}

.bg-rec::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-rectangle.png");
  z-index: 1;
}
.bg-rec .container {
  z-index: 2;
  position: relative;
}

.cback {
  width: 160px;
  height: 160px;
  position: fixed;
  bottom: 10%;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 99;
}

.cback-circle {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}

.cback-circle--phone {
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cback-circle.fn1 {
  animation: pin 2.5s linear 0.4s infinite normal;
}
.cback-circle.fn2 {
  animation: pin 2s linear 0s infinite normal;
  background: none;
}

.cback:hover .cback-circle--phone {
  animation: hvr-phone 1.5s linear infinite normal;
}
.cback .phone-icon {
  width: 41px;
  height: 41px;
  background: url("../img/icon-wa.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: phone-fn 2s infinite ease-in-out;
}
@keyframes phone-fn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(25deg) scale(1) skew(1deg);
  }
  100%, 50% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes pin {
  0% {
    opacity: 0.6;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes hvr-phone {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: inset 0 0 20px -14px rgba(0, 0, 0, 0.75);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: inset 0 0 20px -4px rgba(0, 0, 0, 0.75);
  }
}
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1440px) {
  .title {
    font-size: 42px;
  }
  #speakers .blocks .block .name {
    font-size: 24px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #form .girl {
    width: 30%;
  }
  #about::before {
    width: 90%;
  }
  #about::after {
    width: 70%;
  }
  #programm .tabs-wrap {
    margin-top: 0;
  }
  .tab-content .list .img {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .title {
    font-size: 36px;
  }
  header .mainMenu {
    display: block;
  }
  header nav {
    display: none;
  }
  #speakers .blocks .block {
    width: 44%;
  }
  #programm .tab-content .list .time {
    padding: 0 10px;
    font-size: 14px;
  }
  #info .img img {
    width: 100%;
  }
  #partners .partners-items a {
    width: 40%;
    display: inline-block;
  }
  #partners .partners-items img {
    width: 100%;
  }
  #advantages .item {
    width: 42%;
  }
  .tab-content .list.accent .name {
    font-size: 22px;
  }
  #form .girl, #form .logo {
    display: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .logo {
    width: 70%;
  }
  header .mainMenu {
    position: fixed;
    z-index: 10;
  }
  header nav {
    display: none;
  }
  header nav.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DFE6F5;
    z-index: 9;
  }
  header nav.show ul {
    flex-direction: column;
    padding: 0 35px;
    padding-top: 100px;
  }
  header nav.show ul li a {
    color: #fff;
    background-color: #1A1042;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  #main .timer {
    height: auto;
    padding: 15px 0;
    overflow: hidden;
  }
  #main .timer .bt {
    font-size: 42px;
  }
  #speakers .blocks .block {
    width: 50%;
  }
  #about::after, #about::before {
    content: none;
  }
  #info {
    text-align: center;
  }
  #info .row {
    display: block;
  }
  #info [class^=col] {
    display: block;
  }
  #info .img img {
    width: auto;
  }
  #programm .tab-content .list {
    flex-wrap: wrap;
  }
  #programm .tab-content .list .left, #programm .tab-content .list .center {
    width: 50%;
  }
  #programm .tab-content .list .right {
    width: 100%;
  }
  #programm .tab-content .list .topic {
    font-size: 16px;
  }
  #programm .tab-content .list.accent .left {
    width: 20%;
  }
  #programm .tab-content .list.accent .left .time {
    padding: 0 10px;
    margin-bottom: 0;
    margin-top: 0;
  }
  #programm .tab-content .list.accent .right {
    width: 60%;
  }
  #programm .tab-content .list.accent .name {
    font-size: 16px;
  }
  #advantages .title {
    width: auto;
  }
  #advantages .advantages-items .item {
    width: 90%;
    margin: 50px 0 0 0;
  }
  #advantages .advantages-items .item .icon img {
    width: 70%;
  }
  #background-video {
    display: none;
  }
  #form .form-wrap {
    padding: 0;
  }
  footer {
    padding-top: 40px;
  }
  footer .logo {
    display: inline-block;
    margin-bottom: 25px;
  }
  footer .logo.logo-2 {
    margin-top: 0;
    float: right;
  }
  footer .social {
    margin-top: 25px;
  }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  header .btn {
    margin-top: 15px;
  }
  #main .timer .bt {
    font-size: 25px;
  }
  #main .timer .bt span {
    margin-top: 0;
  }
  #partners .partners-items a {
    padding: 15px 10px;
  }
  #advantages .advantages-items .owl-stage {
    left: -10px;
  }
  #advantages .advantages-items .item {
    width: 80%;
  }
  #programm .tabs {
    justify-content: space-evenly;
  }
  #programm .tab {
    padding: 15px;
    font-size: 16px;
    margin-left: 0;
  }
  #programm .tab-content .list.accent .left {
    width: 45%;
    padding-right: 0;
  }
  #programm .tab-content .list.accent .right {
    font-size: 14px;
    width: 50%;
    line-height: 1.2em;
  }
  #programm .btn-download {
    display: block;
  }
  footer .copy {
    font-size: 12px;
    margin-top: 25px;
  }
  .cback {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
  #programm .tab-content .list {
    flex-wrap: wrap;
  }
  #programm .tab-content .list .left {
    width: 40%;
    font-size: 12px;
  }
  #programm .tab-content .list .center {
    width: 30%;
    vertical-align: middle;
  }
  #programm .tab-content .list .center .img {
    padding: 15px 0;
  }
  #programm .tab-content .list .name {
    font-size: 22px;
  }
  #speakers .blocks .block {
    width: 44%;
    padding-right: 0;
  }
  #speakers .blocks .block .name {
    font-size: 16px;
  }
  #speakers .blocks .block .desc {
    font-size: 14px;
  }
  #speakers .blocks .block .img img {
    width: 100%;
    height: auto;
  }
  #form .form-wrap form {
    padding: 15px;
  }
  #form .form-wrap form input[type=text], #form .form-wrap form select {
    width: 55%;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}/*# sourceMappingURL=main.css.map */