// @import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1440px)
	.title
		font-size: 42px
	#speakers .blocks .block .name
		font-size: 24px
	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	#form 
		.girl
			width: 30%
		.girl-2
			right: 5%
	#about
		&::after
			width: 70%
			left: 30%
		&::before
			width: 60%
	#partners .partners-items img
		width: calc(100%/3 - 10px)
	#programm .tabs-wrap
		margin-top: 0
	.tab-content .list .img
		height: 100%
		display: flex
		align-items: center
	#form 
		.logo
			width: 200px
			p
				margin-top: 45px
			img
				width: 100%
		.girl-2
			display: none
		.girl-1
			width: 44%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.title
		font-size: 36px
	header
		.mainMenu
			display: block
		nav
			display: none	
	#about
		&::after
			width: 80%
			left: 20%
		&::before
			background: linear-gradient(274.15deg, rgba(255, 166, 0, 0) 2.41%, #AC6D21 70%, #19085B 99.56%)
	#main 
		.b2
			height: auto
		.timer
			margin-top: 0
	#programm .tab-content .list .time
		padding: 0 10px
		font-size: 14px
	#info .img img
		width: 100%
	#partners
		.partners-items
			a
				width: 40%
				display: inline-block
			img
				width: 40%
				padding: 15px 0
	#advantages .item
		width: calc(100% /2 - 10px)
	.tab-content .list.accent .name
		font-size: 22px

	#form 
		.girl, .logo
			display: none
	#pre-course, #post-course 
		.logo, h4.title
			float: none
		.blocks .block .speaker
			.img
				width: 150px
				height: 150px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	header
		.logo
			width: 70%
		.mainMenu
			position: fixed
			z-index: 10
		nav
			display: none
			&.show
				display: block
				position: fixed
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: #DFE6F5
				z-index: 9
				ul
					flex-direction: column
					padding: 0 35px
					padding-top: 100px
					li a
						color: #fff
						background-color: $accent
						font-size: 18px
						display: block
						margin-bottom: 5px
						border-radius: 5px
		.btn
			margin-top: 25px	
	#main .timer
		height: auto
		padding: 15px 0
		overflow: hidden
		.bt
			font-size: 42px
	#speakers .blocks .block
		width: calc(100% / 2)
	#about
		
		&::after
			background-image: url('../img/ucg-logo-bg.png')
			background-repeat: no-repeat
			width: 50%
			background-size: contain
			z-index: 2
		&::before
			background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0F59 100%)
			width: 100%
			// display: none
		// 	background-image: url('../img/ucg-logo-bg.png')
			
	#info
		text-align: center
		.row
			display: block
		[class^=col]
			display: block
		.img img
			width: auto
	#programm .tab-content 
		.list
			flex-wrap: wrap
			.left, .center
				width: 50%
			.right
				width: 100%
			.topic
				font-size: 16px
			&.accent
				.left
					width: 40%
					.time
						padding: 0 10px
						margin-bottom: 0
						margin-top: 0
				.right
					width: 60%
				.name
					font-size: 16px
	#advantages 
		.title
			width: auto
		.advantages-items
			.item
				width: 100%
				margin: 50px 0 0 0
				.icon img
					width: 70%

	#background-video 
		display: none    

	#form .form-wrap
		padding: 0
		background: transparent
		.form
			width: 100%
			input[type="text"],
			input[type="email"],
			input[type="phone"],
			textarea,
			select
				width: 100%
		form
			padding: 0
	
	footer 
		padding-top: 40px
		.logo
			display: inline-block
			margin-bottom: 25px
			&.logo-2
				margin-top: 0
				float: right
		.social
			margin-top: 25px

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	#pre-course, #post-course
		.blocks 
			.block
				.event
					.img
						margin-top: 15px
					.date
						font-size: 16px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.title
		font-size: 30px
	#main .timer .bt
		font-size: 25px
		span
			margin-top: 0
	#speakers 
		.btn-mobile
			display: inline-block
		.blocks .block .desc
			display: none

	#partners .partners-items a
		padding: 15px 10px
	#advantages .advantages-items 
		.owl-stage
			left: -10px
		img
	#programm 
		.tabs
			justify-content: space-evenly
		.tab
			padding: 15px
			font-size: 16px
			margin-left: 0
		.tab-content .list.accent 
			.left
				width: 50%
				padding-right: 0
			.right
				font-size: 14px
				width: 50%
				line-height: 1.2em	
		.btn-download
			display: block
	#form .form-wrap .form
		padding: 15px
	footer .copy
		font-size: 12px
		margin-top: 25px
	.cback
		display: none
	#pre-course, #post-course 
		h4.title
			font-size: 28px
			margin-bottom: 0
		.blocks 
			flex-wrap: wrap
			.block
				width: 100%
				display: block
				.event .date
					font-size: 20px
	#post-course 
		.blocks 
			.block.b-right
				width: 100%
			.block .event .date
				font-size: 24px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	body
		font-size: 14px
	#programm .tab-content 
		.list
			flex-wrap: wrap
			.left
				font-size: 12px
			.center
				vertical-align: middle
				.img
					padding: 15px	0
			.topic
				font-size: 14px
			.name
				font-size: 22px
	#speakers 
		.blocks .block
			width: calc(100%/2)
			padding-right: 0
			.name
				font-size: 16px
			.desc
				font-size: 14px
			.img img
				width: 100%
				height: auto
				margin-top: 40px
		.country
			top: 5px
			background-size: 60%
			padding-left: 30px
			&.turkey
				background-position: 0 0
			&.ukraine
				background-position: 0 -30px
			&.morocco
				background-position: 0 -75px
			&.qazaqstan
				background-position: 0 -110px
			&.australia
				background-position: 0 -180px
			&.singapore
				background-position: 0 -320px
			&.italy
				background-position: 0 -145px
			&.russia
				background-position: 0 -215px
			&.greece
				background-position: 0 -360px


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

