@import "bourbon/bourbon"
@import "../libs/fontawesome/css/font-awesome.min.css"

$accent: #1A1042
$gray: #94959A
$gold: #B17427
$yellow: #DFA231
$text: #454545


html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "Montserrat", sans-serif
	font-weight: normal
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	color: $text
	margin: 0
	padding: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

h1
	font-size: 56px

.hidden
	display: none

.btn
	display: block
	border-radius: 4px
	padding: 15px 25px
	background-color: $yellow
	color: #fff
	font-weight: bold
	transition: all .25s ease
	text-align: center
	&:hover
		background-color: $gold
		text-decoration: none
		color: #fff
a
	color: $text
	text-decoration: none
.title
	text-transform: uppercase
	color: $accent
	display: inline-block
	padding-bottom: 25px
	font-size: 50px
	line-height: 1.2em
	&.line::after
		content: ''
		display: block
		height: 3px
		width: 100%
		background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
header
	padding: 25px 0
	background-color: #fff
	.logo
		img
			width: 100%
	nav
		ul
			display: flex
			align-items: stretch
			li
				list-style-type: none
				a
					padding: 15px
	.mainMenu
		padding: 15px
		position: relative
		display: none
		a
			width: 50px
			height: 50px
			position: absolute
			top: 0
			left: 0
#menuToggle
	input
		display: block
		width: 50px
		height: 50px
		position: absolute
		top: -7px
		left: -5px
		cursor: pointer
		opacity: 0
		z-index: 2
		-webkit-touch-callout: none
		&:checked ~ span
			opacity: 1
			transform: rotate(45deg) translate(1px, -1px)
			background: #000
			&:nth-last-child(1)
				transform: rotate(-45deg) translate(0, -1px)
			&:nth-last-child(2)
				opacity: 0
				transform: rotate(0deg) scale(0.2, 0.2)
	span
		display: block
		width: 33px
		height: 4px
		margin-bottom: 5px
		position: relative
		background: #000
		border-radius: 3px
		z-index: 1
		transform-origin: 4px 0px
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease

		&:first-child
			transform-origin: 0% 0%

		&:nth-last-child(2)
			transform-origin: 0% 100%

section
	padding: 50px 0
	background-color: #fff
#video-slider
	// padding-top: 0
	// overflow: hidden
	// height: 550px
	padding: 0
	// background: transparent
	// img
	// 	width: 100%
	#background-video
		width: 100vw
		height: 100vh
		object-fit: cover
		// position: fixed
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1
#main
	color: $accent
	.title
		margin-top: 0
	.blocks
		display: flex
		flex-direction: column
		.block
			margin-bottom: 15px
			.bl
				font-weight: bold
				width: 30%
				display: inline-block
				&.long
					width: 100%
				img
					vertical-align: middle
			.br
				display: inline-block
				width: 60%
				vertical-align: top
	.timer
		background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
		height: 150px
		width: 100%
		border-radius: 10px
		display: flex
		margin-top: 25px
		position: relative
		&::after, &::before
			content: ''
			position: absolute
			width: 40px
			height: 40px
			background-color: #fff
			border-radius: 50%
			top: 50%
			margin-top: -25px
		&::before
			left: -20px
		&::after
			right: -20px

		.bt
			color: #fff
			font-size: 72px
			flex: 1
			text-align: center
			position: relative
			&::after
				content: ''
				position: absolute
				height: 50%
				top: 25%
				right: 0
				width: 1px
				background-color: #fff
			&:last-child::after
				content: none
				
			span
				font-size: 12px
				display: block
				margin-top: -25px
#speakers
	text-align: center
	.blocks
		display: flex
		flex-wrap: wrap
		.block
			width: 30%
			text-align: left
			padding: 15px
			position: relative
			.img
				text-align: center
				border-radius: 24px
				background: linear-gradient(289.9deg, #DBD6EF -5.47%, rgba(241, 241, 241, 0) 112.91%)
				overflow: hidden
				position: relative
				img
					height: 100%
					margin-bottom: -10px
					margin-top: 25px
			.name
				font-size: 28px
				font-weight: bold
				color: $accent
				margin-bottom: 0
			.category
				color: $gold
				text-transform: uppercase
				margin-top: 0
				font-weight: 600
			.desc
				font-size: 16px
.country
	background-image: url('../img/flags.png')
	background-repeat: no-repeat
	width: 40px
	padding-left: 40px
	position: absolute
	top: 15px
	left: 15px
	z-index: 0
	&.turkey
		background-position: 0 0
	&.ukraine
		background-position: 0 -40px
	&.morocco
		background-position: 0 -85px
	&.qazaqstan
		background-position: 0 -120px
	&.australia
		background-position: 0 -210px
	&.singapore
		background-position: 0 -330px
	&.italy
		background-position: 0 -165px
	&.russia
		background-position: 0 -250px
#about
	position: relative
	background: #19085B
	color: #fff
	&::before
		content: ''
		// background: linear-gradient(90.5deg, #DFE6F5 5%, rgba(223, 230, 245, 0) 65.59%)
		background: linear-gradient(274.15deg, rgba(255, 166, 0, 0) 2.41%, #AC6D21 50.48%, #19085B 99.56%)
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 1
	&::after
		content: ''
		position: absolute
		left: 50%
		top: 0
		width: 50%
		height: 100%
		background: url('../img/about_bg.jpg')
		background-repeat: no-repeat
		background-position: 100% 0
	.title
		margin-bottom: 0
		padding-bottom: 0
		color: #fff
	.content
		position: relative
		z-index: 3
	.btn
		display: inline-block
		margin-top: 25px
#partners
	text-align: center
	.partners-items
		a
			padding: 15px
			display: block
		img
			width: auto
#info
	background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
	color: #fff
	.block
		display: flex
		justify-content: center
		height: 100%
		align-items: center
#programm
	.tabs
		display: flex
		list-style-type: none
		margin: 0
		padding: 0
		justify-content: end
	.tab
		padding: 25px
		background-color: #DFE6F5
		border-radius: 45px
		text-align: center
		margin-left: 15px
		&:hover
			cursor: pointer
		span
			font-size: 14px
			display: block
		&.active
			background: $yellow
	.tab-content
		margin-top: 25px
		[data-tab-content]
			display: none
		.active[data-tab-content]
			display: block
		.list
			background-color: #DFE6F5
			padding: 15px
			border-radius: 50px
			display: flex
			margin-bottom: 10px
			.lb
				padding: 15px
			.time
				background-color: #fff
				display: inline-block
				padding: 0 15px
				text-align: center
				border-radius: 15px
				margin-bottom: 10px
			.type
				background-color: $yellow
				text-align: center
				border-radius: 15px
				display: inline-block
				padding: 0 15px
				color: #fff
			.img
				background-color: #fff
				border-radius: 15px
				img
					width: 100%
			.name
				font-weight: 600
				font-size: 28px
				position: relative
			.country
				display: inline-block
				height: 20px
				position: relative
				top: 0
				left: 0
				padding-left: 0
			.left, .center
				width: 20%
			.right
				width: 80%
			&.accent
				background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0F59 100%)
				.name
					color: #fff
	.btn-download
		background: transparent
		color: #7A859D
		font-size: 14px
		font-weight: 400
		margin-top: 25px
		img
			vertical-align: middle

#advantages
	text-align: center
	.title
		width: 520px
	.advantages-items
		display: flex
		flex-wrap: wrap
	.item
		width: 29%
		text-align: center
		padding: 15px
		background-color: #F0F0F0
		margin: 15px 5px 70px
		border-radius: 15px
		position: relative
		.icon
			position: absolute
			left: 0
			right: 0
			margin: 0 auto
			top: -50px
			background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
			width: 80px
			height: 80px
			border-radius: 50%
			text-align: center
			img
				display: inline-block
				padding-top: 10px
#sections
	background-image: url('../img/bg_section.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed !important
	// position: fixed
	height: 400px
	width: 100%
	top: 0
	z-index: -99
#lasttime
	text-align: center
	.gallery-items
		text-align: left
		.images
			// height: 400px
			overflow: hidden
			display: inline-block
			// width: 30%
			padding: 5px
			img
				width: 100%
#form
	color: #fff
	.form-wrap
		background: linear-gradient(284.99deg, #FF9400 -27.15%, #1B1143 103.5%)
		border-radius: 25px
		padding: 35px
		position: relative
		overflow: hidden
		h3
			margin-top: 0
		form
			background: #fff
			width: 450px
			color: $text
			padding: 30px 50px
			border-radius: 10px
			input[type="text"], select
				border: 1px solid #DFE6F5
				padding: 15px
				border-radius: 15px
				width: 90%
				margin: 10px 0
				font-family: "Montserrat", sans-serif
				font-size: 14px
			select
				width: 96%
			input[type="button"]
				font-family: "Montserrat", sans-serif
		.line
			p
				margin-bottom: 0
			margin-bottom: 15px
	.btn
		border: none
	.logo
		position: absolute
		right: 35px
		top: 35px
	.girl
		position: absolute
		bottom: -15px
		right: -55px
		width: 40%
		img
			width: 90%
	.girl-2
		right: 10%

footer
	background-color: $accent
	color: #fff
	padding: 80px 0 40px
	font-size: 16px
	position: relative
	overflow: hidden
	z-index: 1
	&::after
		content: ''
		width: 1000px
		height: 1000px
		border-radius: 50%
		background: radial-gradient(circle, rgba(177,116,39,1) 0%, rgba(255,255,255,0) 50%)
		position: absolute
		bottom: -15%
		right: -5%
		z-index: -1
	&::before
		content: ''
		width: 1000px
		height: 1000px
		border-radius: 50%
		background: radial-gradient(circle, rgba(177,116,39,1) 0%, rgba(255,255,255,0) 50%)
		position: absolute
		top: 0
		left: -10%
		z-index: -1
	.logo
		width: 200px
		img
			width: 100%
	.logo-2
		width: 80px
		margin-top: 25px
	h4
		margin-top: 0
	p
		margin: 0
	a
		color: #fff
	.social
		ul
			padding: 0
			margin: 0
			li
				list-style-type: none
				display: inline-block
				a
					display: block
					padding: 0 10px

	.copy
		text-align: right
		font-size: 14px
		img
			width: 20px
			vertical-align: middle

//ALWAYS END
@import "media"