@import "bourbon/bourbon"
@import "../libs/fontawesome/css/font-awesome.min.css"

$accent: #1A1042
$gray: #94959A
$gold: #B17427
$yellow: #DFA231
$text: #454545


html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "Montserrat", sans-serif
	font-weight: normal
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	color: $text

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

h1
	font-size: 56px

.hidden
	display: none

.btn
	display: block
	border-radius: 4px
	padding: 15px 25px
	background-color: $yellow
	color: #fff
	font-weight: bold
	transition: all .25s ease
	text-align: center
	&:hover
		background-color: $gold
		text-decoration: none
		color: #fff
i.arr
	background-image: url('../img/arr.png')
	background-repeat: no-repeat
	background-size: contain
	background-position: 0 100%
	width: 35px
	height: 15px
	display: inline-block
	margin-left: 10px
a
	color: $text
.title
	text-transform: uppercase
	&::after
		content: ''
		display: block
		height: 3px
		width: 100%
		background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
header
	margin: 25px 0
	.logo
		img
			width: 100%
	nav
		ul
			display: flex
			align-items: stretch
			li
				list-style-type: none
				a
					padding: 15px
article
	padding: 50px 0
#about
	.blocks
		.block
	.timer
		background: linear-gradient(268.58deg, #FFA600 -13.7%, #1D0677 100%)
		height: 150px
		width: 100%
		border-radius: 10px
		display: flex

		.bt
			color: #fff
			font-size: 72px
			flex: 1
			text-align: center
			span
				font-size: 12px
				display: block